@import url(global/importer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  font-family: "Inter", sans-serif;
  color: var(--txt-color);
  background: var(--smokeyWhite);
}

main {
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}
